/*Element*/
li {

}
/*class*/
.hello {

}
/*id*/
#name {

}
/*Star:; apply to all elements */

* {
	border: 1px solid lightgrey;
}
/*Decendant Selector: the example below show selector every anchor inside of li*/

li a {

}

li .hello {

}
/*Adjacent Selector: h4 that is on the same level of ul */
h4 + ul {

}

/*Attribute Selector selecting an item with an attribute with specific value*/
a[href="//www.google.com"] {
	background: blue;
}

input [type="checkbox"]{

}
/*nth of type*/
li:nth-of-type(3){
	background: purple;
}